h1, h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#formAgendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dataSelecionada {
    padding: 10px;
}

#horarios {
    padding-top: 20px;
}

#formRadios {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.hora {
    padding: 5px;
}