:root {
  --cor-primaria: #3498db; /* Azul */
  --cor-secundaria: #2ecc71; /* Verde */
  --cor-texto: #c5c5c5; /* Cor do texto principal */
  --cor-fundo: #292929; /* Cor de fundo */
  --cor-borda: #ccc; /* Cor das bordas */
}

h1, h2 {
    display: flex;
    justify-content: center;
    color: var(--cor-texto);
}

h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-size: 1rem;
}

* {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#formLogin {
    justify-self: center;
    width: 100%;
}

.login {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid;
    border-color: var(--cor-primaria);
    padding: 5px;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

#email {
    margin-bottom: 2%;
}

body {
    margin: 0px;
    background-image: url('/images/3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding-top: 2%;
}

#btLogin {
    padding: 5px;
    margin-top: 10px;
    width: 60px;
}
    
a {
    text-decoration: none;
    color: var(--cor-texto);
}

.ajuda {
    font-size: 12px;
}

#cadastre-se {
    margin-top: -9px;
}

.fundoLogin {
    background-color: #000000b4;
    padding: 2%;
    margin-top: 5%;
    
}